11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [2]:
import zoo
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [3]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [ ]:
from sqlalchemy import create_engine, select, Table, Column, Integer, String

# connect to the database
engine = create_engine('sqlite:///books.db')

# Define the 'books' table
metadata = Table('books',
                 Column('title', String),
                 Column('author', String),
                 Column('year', Integer))

# fetches the 'title' column in alphabetical order
select_stmt = select([metadata.columns.title]).order_by(metadata.columns.title)

# Execute the select statement and print the results
with engine.connect() as connection:
    results = connection.execute(select_stmt)
    for row in results:
        print(row.title)